<!DOCTYPE html>

<head>
    <title>NodeJs microservice for emailing</title>
    <link rel="shortcut icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <h1 class="main-header">
            NodeJs microservice for emailing
        </h1>
    </header>
    <main>
        <h3>Api list</h3>
    </main>
    <footer> Copyright Ⓒ <span id="copyright">2021 - Md.Rajib-Ul-Islam [<a href="mailto:mdrajibul@gmail.com">mdrajibul@gmail.com</a>]</span>
    </footer>
</body>

</html>